.App-logo {
  width: 5em;
  /* height: 40vmin;
  pointer-events: none; */
}
/* Scroll TOP button */
.back-to-top {
  position: fixed;
  font-size: x-large;
  padding-bottom: 6px;
  right: 20px;
  bottom: 20px;
  z-index: 350;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.382) ;
  background-color: rgba(255, 255, 255, 0.382);
  box-shadow: 0 0 5px rgba(0,0,0,0.17);
  text-align: center;
}
.back-to-top:hover {
  background-color :var(--light-primary-color);
}
/*Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
/*Register */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-content {
  max-width: 800px;
  width: 100%;
  min-height: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
